.btn {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-justify: center;
}
.clear-btn {
  width: inherit;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 185%;
  font-weight: 500;
}
.clear-btn::after {
  display: flex;
  flex-direction: column;
  content: "add player";
  font-size: 35%;
  font-weight: 300;
}
button:active {
  color: rgba(255, 255, 255, 0.286);
}
.btn-center{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.btn-primary {
  top: 80%;
  font-weight: 450;
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.35);
  width: 115px;
  font-size: 105%;
  height: 35px;
}
